{% extends 'base.html' %}

{% block conteudo %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <div class="blog-post">
                <h2>Introdução à Programação em Python</h2>
                <p>Python é uma linguagem de programação de alto nível conhecida por sua sintaxe clara e legível.
                   É amplamente usada em desenvolvimento web, análise de dados, automação, e muito mais.</p>
                <p>Neste post, vamos explorar os conceitos básicos da linguagem e como iniciar sua jornada na programação
                   em Python.</p>
                <p>... (conteúdo do post continua) ...</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="sidebar">
                <h4>Artigos Recentes</h4>
                <ul>
                    <li><a href="#">Como Criar um Web Scraper em Python</a></li>
                    <li><a href="#">Guia de Melhores Práticas com Flask</a></li>
                    <li><a href="#">Introdução à Análise de Dados com Pandas</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}