{% extends 'base.html' %}

{% block conteudo %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <h2>Sobre o Python Blog</h2>
            <p>Bem-vindo ao Python Blog, o lugar onde você pode encontrar informações, tutoriais e dicas
                sobre programação em Python e tópicos relacionados. Nós estamos aqui para compartilhar nosso
                conhecimento e ajudar a comunidade de desenvolvedores a crescer.</p>
            <p>Nosso objetivo é fornecer conteúdo de alta qualidade para programadores de todos os níveis, desde
                iniciantes até experientes, de forma acessível e didática.</p>
            <h3>Equipe</h3>
            <p>A equipe do Python Blog é composta por entusiastas da programação, apaixonados por Python e
                tecnologia em geral. Estamos sempre em busca de aprender mais e compartilhar nossos insights com a
                comunidade.</p>
            <p>Se você deseja contribuir com artigos, tutoriais ou simplesmente quer entrar em contato, não hesite
                em nos enviar uma mensagem através do nosso formulário de contato ou nas redes sociais.</p>
        </div>
        <div class="col-md-4">
            <div class="sidebar">
                <h4>Redes Sociais</h4>
                <ul>
                    <li><a href="https://www.instagram.com/seu_usuario_instagram" target="_blank">Instagram</a></li>
                    <li><a href="https://github.com/seu_usuario_github" target="_blank">GitHub</a></li>
                    <li><a href="https://www.linkedin.com/in/seu_perfil_linkedin" target="_blank">LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
